.form{
  height: 400px;
  width: 500px;
  position: relative;
  left: 400px;
  top: 150px;
  
}
.loginback{
  width: 100%;
  height: 663px; 
  background-image: url('/image/stock1.png');
  background-size: cover;


}
.image{
  height: 200px;
}
.loginback1{
  width: 100%;
  height: 663px; 
  background-image: url('/image/e-commerce.jpg');
  background-size: cover;
  
 

}
.loginback2{
  width: 100%;
  height: 663px; 
  background-image: url('/image/admin1.jpg');
  background-size: cover;

}
